#app {
  height: 100%;
  min-height:100%;
  width: 100%;
}

.side-bar {
  float: left;
  margin: 30px 0px 0px 10%;
  width: 30% 0px 0px 0px
}

.main {
  margin: 30px 5% 30px 5%;
  width: 60%;
  text-align: left;
  float: left;
}

h2 {
    color: white;
    margin-top: 0px;
}

.navigation {
  margin-top: 30px;
}

/*drop shadows*/

.logo  {
  box-shadow: 5px 5px 10px orangered;
}

/*card styles*/

.card {
  background-color: white;
  padding: 30px;
  margin-bottom: 30px;
}

.card {
    text-align: left;
    color: #999;
}

.card a {
  font-weight: bold;
  color: deepskyblue;
}

.card a:hover {
    color: skyblue;
}

.card h2 {
    color: darkorange;
    text-align: right;
    text-shadow: none;
    margin: 0px;
}

.card h4 {
    color: darkorange;
    text-align: left;
    text-shadow: none;
    margin: 0px;
}


/*media queries*/

@media (max-width: 1150px) {

  /*stack sidebar and main */
  .side-bar, .main {
      float: none;
      overflow: auto;
      width: 80%;
      margin: 30px 10% 0px 10%;
  }

  /*align nav to right of logo */
  .logo {
      float: left;
  }

  .navigation {
    float: right;
    text-align: right;
  }

  .main {
    float: none;
  }


}

@media (max-width: 475px) {

  /*stack the logo and nav*/


}