#app {
  height: 100%;
  min-height:100%;
  width: 100%;
}

.side-bar {
  float: left;
  margin: 30px 0px 0px 30px;
}

.main {
  margin: 30px;
  width: 800px;
  text-align: left;
  float: left;
}

h2 {
    color: white;
    margin-top: 0px;
}

.navigation {
  margin-top: 30px;
}


@media (max-width: 1150px) {

  /*stack sidebar and main */
  .side-bar, .main {
      float: none;
      overflow: auto;
      width: 80%;
      margin: 30px 10% 0px 10%;
  }

  /*align nav to right of logo */
  .logo {
      float: left;
  }

  .navigation {
    float: right;
    text-align: right;
  }

  .main {
    float: none;
  }


}

@media (max-width: 475px) {

  /*stack the logo and nav*/


}