#app {
  height: 100%;
  min-height:100%;
  width: 100%;
}

.side-bar {
  float: left;
  margin: 30px 0px 0px 30px;
}

.main {
  float: left;
}

h2 {
    color: white;
}


@media (max-width: 1150px) {

  /*stack sidebar and main */
  .side-bar, .main {
      float: none;
      overflow: auto;
      width: 80%;
      margin: 0px 10% 0px 10%;
  }

  .side-bar {
    padding-top: 30px;
  }

  h2 {
    margin-top: 0px;
  }

  /*align nav to right of logo */
  .logo {
      float: left;
  }

  .navigation {
    float: right;
    text-align: right;
  }

  .main {
    float: none;
  }


}

@media (max-width: 475px) {

    /*stack the logo and nav*/
    h2 {
      margin-top: 10px;
    }


}