.about-me .card {
    background-color: white;
}


.card h2 {
    color: darkorange;
    text-align: right;
    margin: 0px;
}


.about-me p, .about-me a {
    text-align: left;
    color: #999;
}

.about-me a:hover {
    color: yellow;
}

.heading-text {
    padding: 40px 20px 0px 20px;
}

.detail-text {
    padding: 0px 20px 30px 20px;
}